@font-face {
  font-family: "Hanazome";
  src: local("Hanazome"),
    url("./hanazomefont/hanazomefont/hanazome.ttf") format("truetype");
}

.myComponentClass {
  font-family: "Hanazome", sans-serif;
}

body,
button,
input,
textarea {
  font-family: "Hanazome", sans-serif;
}
